{% extends '/front/base.html.twig' %}

{% block title %}
    Instant-Faking
{% endblock %}

{% block leogout_seo %}
    <meta name="description"
          content="lacentrale_like.com : Site d'annonces de véhicule neufs et occasions">
{% endblock %}

{% block body %}

    <h1 class="text-center">La centrale_like</h1>

    <h2 class="mt-5 mb-4">{{ 'pages.home.title.last_created_at'|trans }}</h2>

    <div class="row">
        {% for listing in lastListings %}
            {% include 'front/partial/_listing_card.html.twig' with
                {
                    'listing': listing,
                }
            %}
        {% endfor %}
    </div>
{% endblock %}
