{% extends '/front/base.html.twig' %}

{% block title %}
    La centrale à pika
{% endblock %}

{% block leogout_seo %}
    <meta name="description"
          content="lacentrale_like.com : Site d'annonces de véhicule neufs et occasions">
{% endblock %}

{% block body %}

    <h1 class="text-center">La Centrale Bourg-Palette</h1>

    <h2 class="mt-5 mb-4">Nos véhicules testés et révisés par Machopeur <img src="https://www.pokepedia.fr/images/4/42/Machopeur-RV.png" style="width: 100px; height: 100px"  alt=""></h2>

    <div class="row">
        {% for listing in lastListings %}
            {% include 'front/partial/_listing_card.html.twig' with
                {
                    'listing': listing,
                }
            %}
        {% endfor %}
    </div>
{% endblock %}
